.icon-user {
    background-image: url(../img/icon/icon-user.png);
    background-repeat: no-repeat;
}

.icon-pwd {
    background-image: url(../img/icon/icon-pwd.png);
    background-repeat: no-repeat;
}

.icon-time {
    background-image: url(../img/icon/icon-time.png);
    background-repeat: no-repeat;
}

.icon-volunteer {
    background-image: url(../img/icon/volunteer.png);
    background-repeat: no-repeat;
}

.icon-record {
    background-image: url(../img/icon/record.png);
    background-repeat: no-repeat;
}

.icon-release {
    background-image: url(../img/icon/release.png);
    background-repeat: no-repeat;
}

.icon-school {
    background-image: url(../img/icon/school.png);
    background-repeat: no-repeat;
}

.icon-stus {
    background-image: url(../img/icon/stus.png);
    background-repeat: no-repeat;
}

.icon-subscription {
    background-image: url(../img/icon/subscription.png);
    background-repeat: no-repeat;
}

.icon-support {
    background-image: url(../img/icon/support.png);
    background-repeat: no-repeat;
}